<Configuration>
	<Brightness>
		<Enable>true</Enable>
		<Level>15</Level>
		<!-- -255..255 -->
	</Brightness>

	<Rotation>
		<Enable>false</Enable>
		<MinAngle>-0.4</MinAngle>
		<!-- отрицательный = влево -->
		<MaxAngle>1</MaxAngle>
		<!-- положительный = вправо -->
	</Rotation>

	<Grayscale>
		<Enable>false</Enable>
	</Grayscale>

	<ImageQuality>
		<Dpi>150</Dpi>
		<!-- качество растеризации -->
		<JpegCompression>85</JpegCompression>
		<!-- 1-100 -->
	</ImageQuality>

	<PageSize>
		<Enable>true</Enable>
		<WidthMm>210</WidthMm>
		<!-- Ширина A4 в мм -->
		<HeightMm>297</HeightMm>
		<!-- Высота A4 в мм -->

		<!-- Другие варианты: -->
		<!-- A3: 297 x 420 мм -->
		<!-- Letter: 216 x 279 мм -->
		<!-- Legal: 216 x 356 мм -->
	</PageSize>
</Configuration>